

<app-navbar></app-navbar>
<!-- <header>
  <h3 class = "display-4">About Music Space</h3>
</header>
<div>
  <p>Music space is an all in one social music browsing app.<br>
    Use this platform to browse your favorite artists, albums, and even preview their songs! <br>
    Need some suggestions? Feel free to browse for your freinds and see what they are listening to!</p>
</div> -->
<br>
<!-- Jumbotron -->
<div class="jumbotron text-center blue-grey lighten-5">

  <!-- Title -->
  <h2 class="card-title h2">About Music Space</h2>

  <!-- Subtitle -->
  <p class="indigo-text my-4 font-weight-bold">Music space is an all in one social media browsing app.</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4 pb-2">

  <button type="button" class="btn btn-outline-secondary">Spotlight</button>
  <!-- <button mdbBtn gradient="blue" rounded="true" mdbWavesEffect>Buy now <mdb-icon far icon="gem" class="ml-1"></mdb-icon></button>
  <button mdbBtn color="indigo" rounded="true" mdbWavesEffect>Download <mdb-icon fas icon="download" class="ml-1"></mdb-icon></button> -->

</div>
<!-- Jumbotron -->
